::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0c1114;
}

::-webkit-scrollbar-thumb {
  background: #1f2c33;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00a884;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111b21;
  color: #e9edef;
  margin: 0 auto;
  max-width: 480px;
  height: 100vh;
  font-family: -apple-system, "Segoe UI", Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (max-width: 480px) {
  body {
    max-width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ol,
ul {
  list-style-type: none;
}