/* https://hexcolorpedia.com/color/?q=FC8EAC */
:root {
  --white: #fcfef9;
  --black: #001e19;
  --brand: #32ffc2;
  --paper: #fffbef;
  --flamingo: #fc8eac;
  --kaggle: #20beff;
  /*  */
  --card: linear-gradient(135deg, #001134 0%, #003490 100%);
}

body {
  background: var(--background);
  color: var(--black);
}

main {
  color: var(--white);
  background: var(--card);
  box-shadow: var(--card-shadow);
  width: var(--card-h);
  height: var(--card-h);
}

.top {
  .top-content {
    /* max-width: 90%; */
    text-align: center;
    gap: 24px;
  }

  figure {
    gap: 8px;

    img {
      width: 24px;
    }
    figcaption {
      font-family: var(--font-display);
      font-weight: bold;
    }
  }

  hgroup {
    h1 {
      font-family: var(--font-heading);
      font-size: 36px;
    }

    h2 {
      font-family: var(--font-heading);
      font-size: 30px;
    }
  }

  p {
    color: #eaeaea;
    text-align: center;
    font-size: 14px;
  }

  .btn-group {
    display: flex;
    gap: 16px;
  }

  button {
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    padding: 0 24px;
    height: 38px;
    font-family: var(--font-body);
    font-weight: 600;
    gap: 5px;

    i {
      font-size: 16px;
    }
  }

  .primary {
    color: var(--black);
    background-color: var(--brand);
    border-color: var(--brand);
  }

  .secondary {
    color: var(--paper);
    background-color: transparent;
    border-color: var(--paper);
  }

  address {
    font-size: 12px;
    font-style: normal;
    display: none;
  }
}

.bottom {
  gap: 16px;

  article {
    border-radius: 8px 8px 0 0;
    width: calc(794px / 2.8);
    height: calc(1123px / 4);
  }
}

.cover {
  background-color: var(--brand);
  color: var(--black);

  hgroup {
    padding: 16px;

    h3 {
      font-family: var(--font-heading);
      font-size: 24px;
    }

    p {
      margin-top: 8px;
      font-size: 12px;
    }
  }

  figure {
    padding: 0 16px;
    width: 100%;
    height: 100%;
  }
}

.toc {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.02) 1px,
      #fffbef 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 1px, #fffbef 1px);
  background-size: 10px 10px;
  background-color: #ddd;
  color: var(--black);

  hgroup {
    padding: 16px;

    h4 {
      font-family: var(--font-heading);
      font-size: 20px;
    }

    p {
      margin-top: 4px;
      font-size: 10px;
    }
  }

  ol {
    padding: 0 16px;

    li {
      padding: 1.5px 0;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      .page {
        font-weight: 600;
        text-align: right;
      }
      .line {
        border-bottom: 1px dashed #aaa;
      }
      .topic {
      }
    }
  }
}
