*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #edf1f2;
  --black: #120e0d;
  --background: #fafafa;
  /*  */
  --card: #edf1f2;
  --card-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  /*  */
  --font-display: "Raleway", Arial, sans-serif;
  --font-heading: "Montserrat", Arial, sans-serif;
  --font-body: "Poppins", Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--black);
  min-height: 100vh;
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ol,
ul {
  list-style-type: none;
}

input,
button {
  outline: none;
  border: none;
  font-family: var(--font-body);
}

.debug {
  border: 1px solid red !important;
}

.hidden {
  display: none !important;
}

.flex-1 {
  flex: 1 1 0%;
}
.flex-cb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-cc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-cx {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-col-cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-col-xb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-8 {
  font-size: 8px;
}
.text-10 {
  font-size: 10px;
}
.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-base {
  font-size: 16px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 20px;
}
.text-2xl {
  font-size: 24px;
}
.text-3xl {
  font-size: 30px;
}
.text-4xl {
  font-size: 36px;
}
.text-5xl {
  font-size: 48px;
}
.text-6xl {
  font-size: 60px;
}
.text-7xl {
  font-size: 72px;
}
.text-8xl {
  font-size: 96px;
}
.text-9xl {
  font-size: 128px;
}
